<!DOCTYPE html>
<html lang="en">

<head th:replace="layouts :: head"></head>

<body>
	<div th:replace="layouts ::navbar"> </div>
	<div class="container col-xxl-8 px-4 py-5">
		<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
			<div class="col-10 col-sm-8 col-lg-6">
				<img src="https://getbootstrap.com/docs/5.1/examples/heroes/bootstrap-docs.png"
					class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
			</div>
			<div class="col-lg-6">
				<div class="d-grid gap-2 d-md-flex justify-content-md-start">

					<form action="new" method="POST" th:object="${order}"
						class="p-4 p-md-5 border rounded-3 bg-light shadow-lg">
						<div class="form-floating mb-3">
							<input type="text" class="form-control" id="floatingInput" placeholder="Eg.Shekar"
								required=true th:field="${order.characters}"/>
							<label for="floatingInput" >Characters to carve</label>
						</div>
						<div class="checkbox mb-3">
							<label>
								<input type="checkbox" value="remember-me"/><i> add &#9829; at the end</i>
							</label>
						</div>
						<button class="w-100 btn btn-lg btn-primary" type="submit">Order Now</button>
						<hr class="my-4">
						<small class="text-muted">Beautiful pencil carvings, delivered all over India</small>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="layouts :: footer"></div>
</body>

</html>